beautifulsoup4==4.13.3
fastapi==0.115.11
langchain==0.3.20
langchain_community==0.3.19
langchain_core==0.3.45
langchain_huggingface==0.1.2
langchain_text_splitters==0.3.6
numpy==2.2.3
opencv_python==4.11.0.86
pandas==2.2.3
Pillow==11.1.0
PyPDF2==3.0.1
pytesseract==0.3.13
python_docx==1.1.2
rank_bm25==0.2.2
SQLAlchemy==2.0.38
torch==2.6.0
uvicorn==0.34.0
python-multipart==0.0.20
websockets==15.0
llama_cpp_python==0.3.5
tiktoken==0.9.0
faiss-cpu==1.10.0
